@{
    ViewBag.Title = "Home Page";
}

<div class="container">
    <div class="row">
        <ul id="beverage-menu" class="nav navbar-nav beverage-menu"> </ul>
    </div>  
    <hr />

    <div class="row">
        <div class="col-md-12 progress-text">
            <h3 id="progress-text"></h3>
        </div>

    </div> 
 </div>

@section scripts
{
  <script type="text/javascript" src="~/Scripts/vendingMachine/app.js"></script>
 }